@font-face{
    font-family: "Calibri Regular";
    src : url("./fonts/Calibri Regular.ttf");
  }
  @font-face {
    font-family: "Calibri Bold";
    src: url("./fonts/Calibri Bold.TTF");
  }
  @font-face {
    font-family: "Calibri Bold Italic";
    src: url("./fonts/Calibri Bold Italic.ttf");
  }
  @font-face {
    font-family: "Calibri Light";
    src: url("./fonts/Calibri Light Italic.ttf")
  }
  @font-face {
    font-family: "Calibri Light Italic";
    src: url("./fonts/Calibri Light Italic.ttf");
  }

  