*{
    margin : 0;
    padding: 0;
}
body{
    font-family: Calibri Regular,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: linear-gradient(30deg, #ffac1f, #f30606);
    min-height: 100vh;
    position: relative;
}
.content {
    min-height: 600px;
    background-color: white;
}
.post-link {
    text-decoration: none;
}
.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top : 85px;
    transition: opacity 0.5s;
    animation: fadeIn 1s;
}
.logo-container > img {
    margin-bottom: -15px;
}
img.post_image {
    width: 100%;
    height: 250px;
}
.header-text > h1 {
    color: #eb3e24;
    font-size: 42px;
}
.header-text > h4 {
    font-size: 24px;
}
.post_banner {
    width: 100%;
    margin: auto;
    margin-top: 45px;
    max-width: 550px;
    height: 350px;
    padding: 0 25px 0 25px;
    cursor: pointer;
}
.post_banner > a {
    text-decoration: none;
}
.post_info {
    color: #4f4b4d;
    margin-bottom: 15px;
    font-size: 24px;
}
.footer {
    font-family: Calibri Bold;
    padding: 15px 15px 15px;
    clear: both;
    position: absolute;
    width: calc(100% - 30px);
    bottom: 0;
    border-top: 1px solid #efdece;
    background-color: #1e0500;
    color: white;
}
.post-header {
    text-align: center;
    margin-top: 25px;
    color: white;
    animation: fadeIn 2s;
}
.navbar {
    padding: 5px;
    border-bottom: 1px solid #efdece;
    background-color: #1e0500;
}
.logo_nav > a >img {
    width: 50px;
}
.full-post-div {
    padding: 15px;
}
h2.post-title {
    margin-bottom: 15px;
    font-size: 32px;
}
.post-sidebar {
    padding: 25px;
    display: flex;
}
.card:hover {
    background-color: #ff3a2a;
}
.card {
    padding: 5px;
    background-color: #ff7f2a;
    color: white;
    margin: 5px;
    min-width: 75px;
    text-align: center;
    cursor: pointer;
}
.card a {
    color: white;
    text-decoration: none;
}
.output {
    text-align:center;
    color:white;
  }
  
  /* Cursor Styling */
  
  .cursor::after {
    content:'';
    display:inline-block;
    margin-left:3px;
    background-color:black;
    animation-name:blink;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
  }
  h3.cursor::after {
    height:24px;
    width:13px;
  }
  p.cursor::after {
    height:13px;
    width:6px;
  }
  
  h1.cursor{
    font-size: 28px;
    transition: 0.5s all;
    color: white;
  }
.logo-circle {
    margin-right : 20px;
    animation : spin 2s;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@keyframes fadeIn {
      0% {
          opacity:0;
      }
      50% {
          opacity: 0;
      }
      100% {
          opacity:1;
      }
  }
  @keyframes blink {
    0% {
      opacity:1;
    }
    49% {
      opacity:1;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
  }